@font-face {
    font-family: fonts;
    src: url(./Gilroy-Extrabold.otf);
}
@font-face {
    font-family: font;
    src: url(./Gilroy-Regular.otf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
}
#nav{
    /* background-color: red; */
   padding: 30px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.leftnav{
    display: flex;
    width: 60%;
    align-items: center;
    gap: 40px;
    
}
.leftnav h2{
    font-weight: 900;
    font-family: fonts;
    text-shadow: 0px 2px 20px rgb(117, 114, 114);
}
.leftnav a{
    font-family: font;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.rightnav{
      display: flex;
      align-items: center;
      gap: 25px;

}
.rightnav a{
    color: rgb(6, 6, 6);
    /* font-weight: 700; */
    font-family: font;
    text-decoration: none;
}
.rightnav button{
           padding: 14px 24px;
           background-color: rgb(9, 9, 9);
           border-radius: 20px;
           border: none;
}

.rightnav button a{
    color: white;
    font-weight: 700;
    font-family: font;
    text-decoration: none;
}
.strip1{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    
}
#creative{
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(210, 100, 199);
}
#creative p{
  font-size: 15px;
  font-weight: 700;
  font-family: font;
}
.mid2{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
}
.mid2 p{
    font-size: 70px;
    text-align: center;
    /* font-family: font;  */
    font-weight: 550;   
}
.mid2 h5{
    font-weight: 400;
font-size: 20px;
}
.mid2 button{
    background-color: #B3FBE3;
    background-color: transparent;
    padding: 18px 20px;
    border-radius: 30px;
    /* border: none; */
    position: relative;
    overflow: hidden;
    /* z-index: 99; */
    font-family: gilroy;
}
.mid2 button a{
    text-decoration: none;
    color: rgb(3, 3, 3);
    font-weight: 700;
}
.mid2 button::after{
    content: "";
    height: 70px;
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background-color: lightblue;
    border-radius: 50%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
    z-index: -1;
}
.mid2 button:hover::after{
    transform: translate(-50%,-50%) scale(3);
}

.parent{
    margin-top: 50px;
    margin-bottom: 60px;
    white-space: nowrap;
}
.one{
    display: inline-block;
    animation: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* margin-left: 14px; */
   }
.one img{
    margin-left: 20px;
    border-radius: 20px;
    /* margin-left: -19.5px; */
    height: 300px;
    
}
body::-webkit-scrollbar{
    display: none;
}
@keyframes anime {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(calc(-100% - 19.5px - 25px));
    }
    
}
#trust{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#trust>h6{
    font-weight: 900;
    font-size: 14px;
    font-family: fonts;
    text-shadow: 0px 1px 20px rgb(72, 70, 70);
}
.ad{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.ad img{
    height: 40px;
}
.ad p{
    font-weight: 600;
    margin-bottom: 6px;
    font-size: 25px;
    font-family: font;
}
.micro{
    display: flex;
    align-items: center;
    gap: 4px;
}
.micro i{
    font-size: 40px;
}
.micro p{
    font-weight: 700;
    font-size: 25px;
}
.face{
    display: flex;
    align-items: center;
    gap: 4px;
}
.face i{
    font-size: 40px;
}
.face p{
    font-weight: 700;
    font-size: 25px;
}
.shopi{
    display: flex;
    align-items: center;
    gap: 4px;
}
.shopi i{
    font-size: 40px;
}
.shopi p{
    font-weight: 700;
    font-size: 25px;
}
.talent{
    margin-top: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 190px;
    margin-bottom: 170px;
    padding: 20px;
}
.talent .left p{
    font-size: 75px;
    font-weight: 200;
    font-family: font;
}

.talent .right p{
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 25px;
    font-family: font;
}
.talent .right button{
    padding: 20px 28px;
    background-color: transparent;
    border-radius: 30px;
    border: 2px solid black ;
    font-family: fonts;
    font-size: 15px;
    position: relative;
    overflow: hidden;
}
.right button::after{
    content:"";
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background-color: rgb(27, 195, 195);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 4s;
}
.talent .right button:hover::after{
    transform: translate(-50%,-50%) scale(4);
}
.talent .right button a{
    text-decoration: none;
    color: rgb(6, 5, 5);
}
/* .talent button:hover{
    background-color: rgba(0, 0, 0, 0.7);
} */
.brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}
.strip2{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #FFDA79;
}
.strip2 {
    font-weight: 650;
    font-size: 15px;
    font-family: font;
}
.mid3{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.ones{
    font-size: 70px;
    text-align: center;
    font-family: font;
    font-weight: 600;
    line-height:75px;
    margin-bottom: 20px;
    word-spacing: 2px;
}
.two{
    text-align: center;
    font-size: 20px;
    color: black;
    opacity: 0.9;
    line-height: 27px;
    word-spacing: 2px;
}
.mid4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 184px;
    padding: 20px;
}
.left2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.left2 h3{
    font-size: 60px;
    font-weight: 200;

}
.left2 p{
  margin-top: 10px;
  font-size: 17px;
}
.right2{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: #FAACA8;
background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
 background-image: url(./curly3-removebg-preview.png);
 background-size: cover;
 background-position: center;

}


.buttons{
    margin-top: 20px;
}
.find{
    padding: 16px 20px;
    background-color: rgb(5, 4, 4);
    border-radius: 40px;
    color: white;
    font-weight: 700;
    border-color: rgba(227, 225, 225, 0.564);
}
.selected{
    margin-left: 10px;
   background-color: white;
   color: black;
}
.mid4 .design:hover{
    background-color: rgba(0, 0, 0, 0.7);
}
.card1{
    position: absolute;
    padding: 20px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 1px 40px rgb(152, 147, 147);
    background-color: rgb(255, 253, 253);
    left: 73%;
    margin-top: -90px;
    /* margin-bottom: 100px; */
}
.top{
    display: flex;
    align-items: center;
    gap: 20px;
}
.card1 .pro{
    height:50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1674553046250-0e9c19071df6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=600&q=60);
    background-position: center;
    background-size: cover;
}
.name h3{
    font-family: font;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}
.name h5{
    background-color:#DDFDE8;
    font-size: 16px;
}
.card1 p{
    margin-top: 30px;
    font-weight: 600;
    font-size: 18px;
    font-family: fonts;
}
.skill1{
    margin-top: 15px;
    display: flex;
    gap: 8px;
}
.skill1 .ux{
    font-family: font;
    display: flex;
    align-items: center;
      padding: 5px 15px;
      border-radius: 30px;
      color: rgb(11, 11, 11);
      background-color: white;
      border: 1px solid rgba(188, 180, 180, 0.63);
}
.skill1 .ui{
    font-family: font;
      padding: 10px 15px;
      border-radius: 30px;
      color: rgb(11, 11, 11);
      background-color: white;
      border: 1px solid rgba(188, 180, 180, 0.63);
      
}
.skill1 .illustration{
    font-family: font;
      padding: 10px 15px;
      border-radius: 30px;
      color: rgb(11, 11, 11);
      background-color: white;
      border: 1px solid rgba(188, 180, 180, 0.63);
}
.skill2{
    margin-top: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.rech{
    font-family: font;
    background-color: rgb(252, 252, 252);
    padding: 10px 10px;
    border-radius: 20px;
    color: rgb(11, 11, 11);
    background-color: white;
    border: 1px solid rgba(188, 180, 180, 0.63);
    display: flex;
    align-items: center;
}
.bran{
    font-family: font;
    background-color: rgb(252, 252, 252);
    padding: 10px 10px;
    border-radius: 20px;
    color: rgb(11, 11, 11);
    background-color: white;
    border: 1px solid rgba(188, 180, 180, 0.63);
    display: flex;
    align-items: center;
}
.card1foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.card1foot h4{
    font-family: fonts;
}
.star{
    display: flex;
    gap: 4px;
}
.heading1
{
  padding: 36px;
  margin-top: 200px;

}
.heading1 p{
    font-size: 60px;

}
 .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 36px;
 }
 .con1 h2{
    font-family: font;
 }
 .con1 p{
    margin-top: 18px;
    /* font-family: font; */
    font-style:initial;
    color: black;
    opacity: 0.7;
    line-height: 24px;
 }
 .mid5{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}
.quote{

    height: 220px;
    width: 550px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 22px;
    font-family: font;
}
.quote p{
    line-height: 35px;
}
.sayer{
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 20px;
}
.pic{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-position: center;
}
.signal{
    height: 220px;
    width: 270px;
    /* background-color: red; */
    border-radius: 20px;
   background-image: url(./Screenshot\ 2023-10-07\ 104305.png);
   background-size: cover;
   background-position: center;
}
.heading2{
    margin-top: 100px;
}
.heading2 p{
    font-size: 75px;
    text-align: center;
    line-height: 80px;
}
.mid6{
    display: flex;
    padding: 20px;
    padding: 36px;
    justify-content: space-between;
    margin-top: 60px;
}
.mid6 img{
    height: 50px;
}
.left3{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.left3 h4{
    margin-top: 10px;
    font-size: 22px;
    font-family: font;
}
.left3 p{
    margin-top: 15px;
    font-size: 20px;
}
.world h4{
   background-color:#E6FBFE;
   width: 210px;
   height: 30px;
   display: flex;
   align-items: center;
}
.fees h4{
   background-color:#E3EBFD;
   width: 210px;
   height: 30px;
   display: flex;
   align-items: center;
}
.global h4{
   background-color:#EDDDFB;
   width: 210px;
   height: 30px;
   display: flex;
   align-items: center;
}

.right3{
    height: 450px;
    width: 600px;
    background-color: violet;
    border-radius: 30px;
    background-image: url(https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80);
    background-position: center;
    background-size: cover;
}
.heading3{
    margin-top: 50px;
    padding: 36px;
}
.heading3 p{
    font-size: 50px;
    line-height: 50px;
}
.videos2{
    /* height: 550px; */
    width: 100%;
    /* background-color: red; */
}
.videos2a{
    display: flex;
    justify-content: space-between;
}
.videos2a img{
    height: 250px;
    width: 350px;
    border-radius: 20px;
    margin-left: -100px;
}
.videos2a video{
  overflow: hidden;
  margin-left: -100px;
  height:250px;
  width: 25%;
  border-radius: 20px;
}
.videos2b{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.videos2a .b{
  overflow: hidden;
  margin-right: -100px;
  height:250px;
  width: 25%;
  border-radius: 20px;
}
.videos2b .i1{
    height: 250px;
    width: 350px;
    border-radius: 20px;
    margin-left: -300px;
}
.videos2b .i2{
    height: 250px;
    width: 350px;
    border-radius: 20px;
    /* margin-left: -100px; */
}
.videos2b .i2{
    height: 250px;
    width: 350px;
    border-radius: 20px;
    /* margin-left: -100px; */
}
.videos2b .i3{
    height: 250px;
    width: 350px;
    border-radius: 20px;
    /* margin-left: -100px; */
}
.videos2b .v1{
    height:250px;
    width: 25%;
    border-radius: 20px;
}
.videos2b .v2{
    height:250px;
    width: 25%;
    border-radius: 20px;
    margin-right: -290px;
}
.mid7{
    margin-top: 50px;
    padding: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.box1{
    background-color: #F8F7F4;
    padding: 55px;
    border-radius: 30px;
}
.box2{
    background-color: #F8F7F4;
    padding: 25px;
}
.strip3{
    padding: 10px;
    border-radius: 30px;
    width: 150px;
    background-color: #B3FBE3;
    margin-bottom: 30px;
}
.strip3 p{
   font-weight: 600;
}
.box1>p{
    font-size: 55px;
    margin-bottom: 15px;
}
.box1 .brow{
    font-size: 22px;
    color: black;
    opacity: 0.7;
}
.mid6but{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}
.mid6but button{
    padding: 15px 25px;
    border-radius: 30px;
    border: none;
}
.work{
    background-color: black;
    color: white;
    font-weight: 600;
}
.get{
    background-color: white;
    color: black;
    font-weight: 600;
}
.box2{
    background-color: #F8F7F4;
    padding: 55px;
    border-radius: 30px;
}
.strip4{
    width: 160px;
    background-color: #FFABE7;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 20px;

}

.box2>p{
    font-size: 55px;
    margin-bottom: 25px;
}
.box2 .brow{
    font-size: 25px;
    color: black;
    opacity: 0.7;
}
.mid8{
    width: 100%;
    padding: 70px;
    background-color: #FFDA79;
    display: flex;
    flex-direction: column;
    gap:30px ;
    justify-content: center;
    align-items: center;
}
.mid8 .p1{
  font-size: 65px;
}
.mid8 .p2{
  font-size: 20px;
  color: black;
  opacity: .9;
  margin-bottom: -4px;
}
.mid8but button{
    padding: 18px 25px;
    border-radius: 30px;
    border: none;
    margin-bottom: 20px;
}
.mid8 .you{
    font-size: 20px;
}
.mid8 .join{
    color: black;
}
.mid9{
    padding: 36px;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mid9 .moving img{
    width: 220px;
    border-radius: 15px;
}


.footer1{
    padding: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer1 .left4 img{
    height: 40px;
}
.footer1 .center{
    display: flex;
    gap: 45px;
}
.footer1 .center a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family: font;
}
.footer1 .right4{
    display: flex;
    gap: 10px;
}
.footer1 .right4 i{
  font-size: 20px;
}
.footer2{
padding: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer2 .left5{
    display: flex;
    gap: 15px;
    justify-content: space-between;

}
.footer2 .left5 .copy{
      display: flex;
      gap: 5px;
      align-items: center;
}
.footer2 .left5 .copy h6{
    font-size: 18px;
}
.footer2 .left5 .copy i{
    font-size: 20px;
}
.footer2 .left5 a{
    text-decoration: none;
    color: black;
    opacity: 0.7;
}
.footer2 .right5{
    display: flex;
    gap: 15px;

}
.footer2 .right5 a{
    text-decoration: none;
    color: black;
    opacity: 0.7;
}
